<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.easy_ride" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDjw8K1DgTV-fhyOaoW5ms39RQyteNW_RA" />

        <activity
            android:name="com.easy_ride.app.support.com.easy_ride.app.old.ERLocationActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.easy_ride.app.main.ERMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.easy_ride.app.support.com.easy_ride.app.old.ERLocationActivity" />
        </activity>
        <activity
            android:name="com.easy_ride.app.main.ERMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.easy_ride.app.main.ERLoginActivity"
            android:label="@string/title_activity_erlogin"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.easy_ride.app.main.ERSignUpActivity"
            android:label="@string/title_activity_ersign_up"
            android:theme="@style/AppTheme.Dark" >
        </activity>
        <activity android:name="com.easy_ride.app.support.com.easy_ride.app.old.ERListActivity" >
        </activity>
        <activity
            android:name="com.easy_ride.app.main.ERVMainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity android:name="com.easy_ride.app.main.ERUListFragment" >
        </activity>
    </application>

</manifest>
